<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.productivity</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2018 Ben Szymanski. All rights reserved.</string>
	<key>NSDesktopFolderUsageDescription</key>
	<string>Classic Finder needs access to show the contents of Desktop folders you open.</string>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>Classic Finder needs access to show the contents of Documents folders you open.</string>
	<key>NSDownloadsFolderUsageDescription</key>
	<string>Classic Finder needs access to show the contents of Downloads folders you open.</string>
	<key>NSPicturesFolderUsageDescription</key>
	<string>Classic Finder needs access to show the contents of Pictures folders you open.</string>
	<key>NSMusicFolderUsageDescription</key>
	<string>Classic Finder needs access to show the contents of Music folders you open.</string>
	<key>NSMoviesFolderUsageDescription</key>
	<string>Classic Finder needs access to show the contents of Movies folders you open.</string>
	<key>NSNetworkVolumesUsageDescription</key>
	<string>Classic Finder needs access to show the contents of network volumes you open.</string>
	<key>NSRemovableVolumesUsageDescription</key>
	<string>Classic Finder needs access to show the contents of removable volumes you open.</string>
	<key>NSFileProviderDomainUsageDescription</key>
	<string>Classic Finder needs access to show the contents of files and folders you open from file providers.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
